@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var userId = SignInManager.IsSignedIn(User) ? UserManager.GetUserId(User) : null;
    var cartItemCount = userId != null ? @Context.RequestServices.GetRequiredService<BoardGamesStore.Data.BoardGamesStoreContext>()
        .ShoppingCarts.Where(c => c.UserID == userId).Sum(c => (int?)c.Quantity) ?? 0 : 0;
}

<ul class="navbar-nav">
    <li class="nav-item ms-3 me-3">
        <a asp-action="Index" asp-controller="Cart" class="nav-link position-relative">
            <i class="fas fa-shopping-cart"></i>
            @if (cartItemCount > 0)
            {
                <span class="cart-badge badge rounded-pill bg-danger position-absolute">@cartItemCount</span>
            }
        </a>
    </li>
</ul>

