@model BoardGamesStore.ViewModels.EditUserViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["EditUser"];
}

<h2 class="mt-5">@Localizer["EditUser"]</h2>
<hr />

<div class="row mt-5">
    <div class="col-md-4">

        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder=" " />
                <label asp-for="Email" class="control-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder=" " />
                <label asp-for="Name" class="control-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-4">
                <select asp-for="SelectedRole" class="form-control" placeholder=" " asp-items="Model.Roles">
                    <option value="">@Localizer["NotSelected"]</option>
                </select>
                <label asp-for="SelectedRole"></label>
                <span asp-validation-for="SelectedRole" class="text-danger"></span>
            </div>

            <input type="submit" value="@Localizer["SaveButton"]" class="btn btn-primary mb-3" />
            <a asp-action="Index" class="btn btn-secondary mb-3">@Localizer["CancelButton"]</a>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}