:root {
    --bs-primary: chocolate;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn-primary:focus, .btn-primary:active:focus,
.btn-outline-primary:focus, .btn-outline-primary:active:focus,
.btn-danger:focus, .btn-danger:active:focus,
.btn-outline-danger:focus, .btn-outline-danger:active:focus,
.btn-warning:focus, .btn-warning:active:focus,
.btn-outline-warning:focus, .btn-outline-warning:active:focus,
.btn-secondary:focus, .btn-secondary:active:focus,
.btn-outline-secondary:focus, .btn-outline-secondary:active:focus,
.form-control:focus, .form-select:focus, .form-check-input:focus {
    box-shadow: none;
}

.form-control, .form-control:focus, .form-control:active, .form-control:active:focus {
    background-color: antiquewhite;
    border-color: lightsalmon;
    color: #333;
    font-weight: 500;
}

.form-select, .form-select:focus, .form-select:active, .form-select:active:focus {
    background-color: antiquewhite;
    border-color: lightsalmon;
    color: #333;
    font-weight: 400;
}

.form-check-input {
    border-color: chocolate;
    background-color: antiquewhite;
}

.form-check-input:focus {
    border-color: chocolate;
    background-color: antiquewhite;
}

.form-check-input:checked {
    background-color: chocolate;
    border-color: chocolate;
}

table.table-bordered {
    border: 1px solid sandybrown;
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

header {
    background-color: sandybrown;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    min-height: 64px;
    margin-top: auto;
    display: flex;
    align-items: center;
    background-color: burlywood;
    color: #333;
    font-weight: 500;
    border-top: 1px solid lightsalmon;
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-link {
    color: #333 !important;
    font-weight: 500;
}

.nav-link:hover {
    color: chocolate !important;
}

.nav-text {
    color: #333 !important;
    font-weight: 500;
    margin: auto;
}

.btn-primary {
    border-color: chocolate;
    border-width: 2px;
    font-weight: 500;
    background-color: chocolate;
}

.btn-primary:hover {
    border-color: saddlebrown;
    background-color: saddlebrown;
}

.btn-outline-primary {
    border-width: 2px;
    font-weight: 500;
    border-color: chocolate;
    color: chocolate
}

.btn-outline-primary:hover {
    border-color: saddlebrown;
    background-color: saddlebrown;
}

.text-button {
    background: none;
    border: none;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.text-button:hover {
    color: chocolate;
}


.table-wrapper {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid lightsalmon;
}

.items-table {
    border-collapse: collapse;
}

.items-table thead {
    background-color: lightsalmon;
}

.items-table tbody tr {
    border-bottom: 1px solid lightsalmon;
}

.items-table tbody tr:last-child {
    border-bottom: none;
}

.items-table td, .items-table th {
    padding: 8px 12px;
    vertical-align: middle;
}

.items-table tbody tr td {
    border-right: 1px solid lightsalmon;
}

.items-table tbody tr td:last-child {
    border-right: none;
}